.container {
  width: 100%;
  padding-bottom: 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    border-radius: 15px 15px 0 0;
    background-color: $colour-grey;
    padding: 15px;
    align-items: center;
    font-family: "Shrikhand", cursive;
  }

  &--darker {
    background-color: $colour-grey;
  }

  // &__heart {
  // }
}

.location {
  padding: 5px 0 0 0;
  &__container {
    background-color: $colour-grey;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__item {
    background-color: $colour-grey;

    &--margin {
      margin: 0 10px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 1rem;
    color: lighten($colour-black, 20%);
  }
}

.reservation {
  text-align: center;
  padding: 10px;
  margin: 25px;
  margin-bottom: 35px;

  &__title {
    font-weight: 600;
    margin: 0 10px;
  }

  // &__item {
  //   margin: 5px;
  // }

  &__text {
    color: $colour-dark-grey;
    font-weight: 100;
    margin: 10px 10px 30px;
  }

  // &__btn {
  // }
}

.functioning {
  background-color: $colour-white;
  position: relative;
  margin: 10px 0;
  margin-bottom: 20px;
  padding: 10px 0;

  &__title {
    margin: 15px;
    padding: 15px 0 10px;
  }

  &__cards {
    margin: 15px;
  }
}

.card {
  width: 90%;

  &--pinky {
    :hover {
      background-color: pastel($colour-primary);
      .card__icon {
        color: $colour-primary;
      }
    }
  }

  &__number {
    position: absolute;
    margin-left: 5px;
    margin-top: 22px;
    padding-top: 3px;
    border-radius: 15px;
    text-align: center;
    width: 25px;
    height: 25px;
    background-color: $colour-primary;
    color: $colour-white;
  }

  &__column {
    flex-direction: column;
    justify-content: center;
    text-align: start;
  }

  &__row {
    font-weight: 500;
    margin: 10px auto;
    border-radius: 15px;
    background-color: $colour-lightgrey;
    font-size: 1rem;
    display: flex;
    color: $colour-black;
    @include boxing-shadow;
    &--spaced {
      padding: 15px;
      justify-content: space-between;
    }
    &--paddy {
      margin: 15px;
      padding: 25px 30px;
    }
  }

  &__icon {
    margin-top: 1px;
    color: $colour-dark-grey;
  }

  // &__title {
  // }

  &__text {
    &--margin-left {
      margin-left: 20px;
    }
    &--thin {
      font-weight: 200;
    }
  }

  &__price {
    padding-top: 20px;
  }
}

.restaurants {
  margin: 10px 0;
  margin-bottom: 20px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__title {
    font-weight: 600;
    margin: 0 20px;
  }
}

.restaurant {
  border-radius: 15px;
  background-color: #ffffff;
  margin: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 5px 1px #00000014;

  &__frame {
    display: flex;
    justify-content: center;
    height: 200px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }

  &__image {
    border-radius: 15px 15px 0 0;
    width: 100%;
    object-fit: cover;
    &--new {
      content: "nouveau";
      color: red;
      // voir vidéos Teams
    }
  }

  &__title {
    padding: 10px 15px 5px;
  }

  &__location {
    padding: 0px 15px 5px;
  }

  &__heart {
    margin: 20px 20px 0 0;
  }
}

.restaurant__heart:hover {
  color: $colour-primary;
  transition: 0.5s ease-out;
}

.meal {
  padding: 10px;
  &__title {
    margin-left: 2px;
    font-weight: 300;
    border-bottom: solid $colour-tertiary 3px;
    padding-bottom: 5px;
    width: 40px;
  }

  &__button {
    display: flex;
    justify-content: center;
    text-align: center;
    &--center {
      width: 180px;
    }
  }
}

// regarder Slack OC + discord pour SVG coeur
