.footer {
  padding: 15px 20px;
  background-color: $colour-black-footer;
  color: $colour-white;

  &__logo {
    width: 7rem;
    filter: brightness(0) invert(1);
    padding: 5px;
    margin: 5px 0 0;
  }
}

.list {
  margin: 10px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  &__link {
    display: flex;
    padding: 5px;
  }
  &__icon {
    width: 25px;
  }
}
