.header {
  background-color: $colour-white;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 10px #999;

  &__title {
    font-size: 0;
    margin: 1rem 0;
  }

  &__arrow {
    width: 85%;
    position: absolute;
  }

  &__logo {
    width: 12rem;
  }

  &--row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .header {
    align-items: flex-start;
    &--row {
      margin-left: 1em;
    }
    &__arrow {
      display: none;
    }
  }
}
