.nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10 0;

    &__item {
        margin: 5px;
        text-align: center;
        padding: 10px;

        &--background {
            background-color: $colour-grey;
            width: 100%;
        }

        & input {
            // CLASSE !!!
            background-color: $colour-grey;
            border: solid $colour-grey 1px;
            font-size: 1rem;
            color: black;
            // CLASSE

            // :focus {
            //     border: solid $colour-grey 1px;
            // }

        }

    }

}