.btn {
  @include btn;
  &:hover {
    opacity: 0.8;
    box-shadow: 0px 2px 7px 3px #bab5b5;
  }
}

.btn-primary {
  color: $colour-white;
  background: linear-gradient($colour-secondary, $colour-primary);
  padding: 15px;
  font-size: 1rem;
  border: transparent;
  @include boxing-shadow;
}
