.btn {
  @include btn;
}

.btn-primary {
  color: $colour-white;
  background: linear-gradient($colour-secondary, $colour-primary);
  padding: 15px;
  font-size: 1rem;
  border: transparent;
  @include boxing-shadow;
}
