@mixin border($colour: $colour-primary) {
  border: 0.1rem solid transparent;
  border-radius: 30px;
}

@mixin btn {
  @include border;
  cursor: pointer;
  align-items: center;
  font-size: 18px;
  padding: 10px;
}

@mixin boxing-shadow($colour: $colour-grey) {
  @if (lightness($colour) < 25%) {
    $colour: lighten($colour, 5%);
  } @else {
    $colour: darken($colour, 5%);
  }
  box-shadow: 0px 2px 7px 3px $colour;
}

@mixin button-lighter() {
}
