@mixin border($colour: $colour-primary) {
    border: .1rem solid transparent;
    border-radius: 30px;
}


@mixin btn {
    @include border;
    cursor: pointer;
    align-items: center;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
}