$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;

$colour-dark-grey: #999999;
$colour-white: #fff;
$colour-grey: #ebebeb;
$colour-lightgrey: #f7f7f7;
$colour-invalid: #db464b;
$colour-black-footer: #323232;
$colour-black: black;

$size: 2em;
$anim-duration: 800ms;
$num-balls: 3;
$anim-delay: calc($anim-duration / $num-balls);
